# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
src/.env
dataProcessing/*
dataProcessing/
backend/firebase/*

*.pem
dataProcessing/rawData/quotes.csv
dataProcessing/sayings.json
